<div class="form-input">
  <%= f.fields_for :books, @collection.books.build do |book_field| %>

    <div class="field">
      <%= book_field.label "Title" %>
      <%= book_field.text_field :title, class: "form-control", autofocus: true %>
    </div>

    <div class="field">
      <%= book_field.label "Author" %>
      <%= book_field.text_field :author, class: "form-control", autofocus: true %>
    </div>

    <div class="field">
      <%= book_field.label "Publisher" %>
      <%= book_field.text_field :publisher, class: "form-control", autofocus: true %>
    </div>

    <div class="field">
      <%= book_field.label "Published Date" %>
      <%= book_field.text_field :published_date, class: "form-control", autofocus: true %>
    </div>

    <div class="field">
      <%= book_field.label "Category" %>
      <%= book_field.text_field :categories, class: "form-control", autofocus: true %>
    </div>

    <div class="field">
      <%= book_field.label "Description" %>
      <%= book_field.text_field :description, class: "form-control", autofocus: true %>
    </div>

    <div class="field">
      <%= book_field.label "Price" %>
      <%= book_field.text_field :price, class: "form-control", autofocus: true %>
    </div>

    <div class="field">
      <%= book_field.label "ISBN" %>
      <%= book_field.text_field :isbn, class: "form-control", autofocus: true %>
    </div>

    <div class="field">
      <%= book_field.label "Buy Link" %>
      <%= book_field.text_field :buy_link, class: "form-control", autofocus: true %>
    </div>

    <div class="field">
      <%= book_field.label "Image Link" %>
      <%= book_field.text_field :image_link, class: "form-control", autofocus: true %>
    </div>
  <% end %>
</div>
