<div class="form-input">
  <%= f.fields_for :books, @collection.books.build do |book_field| %>

    <div class="field">
      <%= book_field.label "Title" %>
      <%= book_field.text_field :title, class: "form-control", placeholder: "required" %>
    </div>

    <div class="field">
      <%= book_field.label "Author" %>
      <%= book_field.text_field :author, class: "form-control", placeholder: "required" %>
    </div>

    <div class="field">
      <%= book_field.label "Publisher" %>
      <%= book_field.text_field :publisher, class: "form-control" %>
    </div>

    <div class="field">
      <%= book_field.label "Published Date" %>
      <%= book_field.date_field :published_date, :order => [:month, :day, :year], class: "form-control" %>
    </div><br>

    <div class="field">
      <%= book_field.label "Select a Genre" %><br>
      <%= book_field.collection_check_boxes :genre_ids, Genre.all, :id, :name do |genre| %>
        <%= genre.label do %>
          <%= genre.check_box + " " + genre.text unless genre.text.blank? %>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <%= book_field.label "Description" %>
      <%= book_field.text_area :description, class: "form-control" %>
    </div><br>

    <div class="field">
      <%= book_field.label "Price" %>
      <%= book_field.text_field :price, class: "form-control", placeholder: "$" %>
    </div>

    <div class="field">
      <%= book_field.label "ISBN" %>
      <%= book_field.text_field :isbn, class: "form-control" %>
    </div>

    <div class="field">
      <%= book_field.label "Buy Link" %>
      <%= book_field.text_field :buy_link, class: "form-control" %>
    </div>

    <div class="field">
      <%= book_field.label "Image Link" %>
      <%= book_field.text_field :image_link, class: "form-control" %>
    </div>
  <% end %>
</div>
