<div class="form-input">
  <%= form_for @collection, url: {controller: "collections", action: "create"} do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control", autofocus: true %>
    </div><br>

    <u><h3>Add Your First Book!</h3></u>
    <h5>(optional)</h5>
    <%= render partial: 'book_form', locals: { f: f } %>

    <div class="actions">
      <%= f.submit "Create Collection", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
