<%= render "collection_errors" %>

<div class="form-input">

  <%= form_for @collection, url: {controller: "collections", action: "create"} do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control", autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Create Collection", class: "btn btn-default" %>
    </div><br>

    <u><h3>Add a Custom Book</h3></u>
    <strong><h5>(optional)</h5></strong>
    <%= render partial: 'add_book', locals: { f: f } %>
  <% end %>
</div>
