<div class="custform">
  <h1>Edit <%= @collection.name %> Collection</h1>

  <div class="form-input">
    <%= form_for @collection, :url => user_collection_path(@collection.user_id, @collection.id) do |f| %>
    <!-- error messages -->

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control", autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-default" %>
      </div>

    <% end %>
  </div>
</div>

<div class="custcontainer">
  <h3><%= button_to "Back", user_collections_path, method: 'get', class: "btn btn-default" %></h3>
</div>
