<div class="custcontainer">
  <% if params[:user_id] %>
    <h1>Hi, <%= current_user.username %>!</h1>

    <u><h3>Your Bookshelf</h3></u><br>
  <% else %>
    <h1>Take a look at what's out there!</h1>
  <% end %><br>

  <div class="custlist">
    <% if @collections.empty? %>
      <h5>Where did everyone go...?</h5>
    <% else %>
    <table align="center">
      <tr>
        <th><u>NAME</u></th>
        <th><u>COUNT</u></th>
      </tr>
      <% @collections.each do |collection| %>
      <tr>
        <td><%= link_to collection.name, collection_path(collection.id) %>
        <% if params[:user_id].nil? %>
          by <%= link_to collection.user.username, user_collections_path(collection.user) %></td>
        <% end %>
          <td><%= collection.books.count %> book(s)</td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div><br>
</div>

<% if params[:user_id] %>
  <div class="custbtn-container">
    <%= button_to "New Collection", new_user_collection_path, method: 'get', class: "btn btn-block" %>
  </div>
<% end %>
