<div class="custcontainer">
  <u><h1><%= @collection.name %></h1></u>

  <h3><%= button_to "Search a Book", new_collection_book_path(@collection.id), method: 'get', class: "btn btn-default" %></h3><br>

  <div class="custlist">
    <% if @collection.books.empty? %>
      <h5>it's kinda lonely here...</h5>
    <% else %>
      <% @collection.books.each do |book| %>
        <li><%= link_to book.title, book_path(book.id) %></li>
      <% end %>
    <% end %>
  </div><br>

  <div class="custform">
    <u><h3>Enter a Custom Book</h3></u>
    <%= form_for @collection do |f| %>
      <%= render partial: 'add_book', locals: { f: f } %>
      <%= f.submit "Add Book", class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<div class="custcontainer">
  <h3><%= button_to "Edit #{@collection.name}", edit_collection_path(@collection.id, @collection), :method => :get, class: "btn btn-default" %></h3>
    <h3><%= button_to "Delete #{@collection.name}", {:controller => :collections, :action => "destroy", :id => @collection.id}, :method => :delete, class: "btn btn-default" %></h3>
</div>
