<div class="custcontainer">
  <u><h1><%= @collection.name %></h1></u>

  <div class="custbtn-container">
    <%= button_to "Add a Book", new_collection_book_path(@collection.id), method: 'get', class: "btn btn-block" %>
  </div>

  <div class="custlist">
    <% if @collection.books.empty? %>
      <h5>It's kinda lonely here...</h5>
    <% else %>
      <% @collection.books.each do |book| %>
        <li><%= link_to book.title, book_path(book.id) %></li>
      <% end %>
    <% end %>
  </div><br>
</div>

<div class="custbtn-container">
  <%= button_to "Edit Collection", edit_collection_path(@collection.id, @collection), method: 'get', class: "btn btn-block" %>
  <%= button_to "Delete Collection", {controller: 'collections', action: "destroy", id: @collection.id}, :method => :delete, class: "btn btn-block" %>
  <%= button_to "Back", user_collections_path(@collection.user_id), method: 'get', class: "btn btn-block" %>
</div>
