<div class="custcontainer">
  <u><h1><%= @collection.name %></h1></u>
  <% if current_user && current_user.id == @collection.user_id %>
    <div class="custbtn-container">
      <%= button_to "Add a Book", new_collection_book_path(@collection.id), method: "get", class: "btn btn-block" %>
    </div>
  <% end %><br>

  <div class="custlist">
    <% if @collection.books.empty? %>
      <h5>It's kinda lonely here...</h5>
    <% else %>
      <% @collection.books.each do |book| %>
        <li><%= link_to "#{book.title} by #{book.author}", book_path(book.id) %></li>
      <% end %>
    <% end %>
  </div><br><br>

  <div class="comment-list">
    <% if current_user %>
      <%= render "comment_form" %>
    <% else %>
      <h5><%= link_to "Please log in to leave a comment.", new_user_session_path %></h5>
    <% end %><br>

    <u><strong><h4>Comments</h4></strong></u><br>

    <% if @collection.comments.empty? %>
      <h5>Be the first to comment!</h5>
    <% else %>
      <% @collection.comments.each do |comment| %>
        <p><%= comment.content %></p>
        Posted by: <%= comment.user.username %>

        <% if current_user && comment.user_id == current_user.id %>
          (<%= link_to "edit", {controller: "comments", action: "edit", id: comment.id}, method: "get" %>, <%= link_to "delete", {controller: "comments", action: "destroy", id: comment.id}, method: "delete" %>)
        <% end %><br><br>
      <% end %>
    <% end %>
  </div>
</div>

<div class="custbtn-container">
  <% if current_user && current_user.id == @collection.user_id %>
    <%= button_to "Edit Collection", edit_collection_path(@collection.id, @collection), method: "get", class: "btn btn-block" %>
    <%= button_to "Delete Collection", {controller: "collections", action: "destroy", id: @collection.id}, method: "delete", class: "btn btn-block" %>
  <% end %>
  <% if current_user.nil? %>
    <%= button_to "Back", collections_path, method: "get", class: "btn btn-block" %>
  <% else %>
    <%= button_to "Back", user_collections_path(@collection.user_id), method: "get", class: "btn btn-block" %>
  <% end %>
</div>
