<%= render "devise/shared/error_messages" %>

<div class="custform">
  <h1>Resend unlock instructions</h1>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<div class="external-links">
  <%= render "devise/shared/links" %>
</div>
