<div class="welcome">
  <% if current_user %>
    <h1>Hi, <%= current_user.username %>!</h1>

    <h3>Ready to fill your own bookshelf?</h3>

    <h3><%= link_to 'Create a Collection', new_user_collection_path(current_user), class: "btn btn-lg btn-default" %></h3><br>

    <% if !current_user.collections.empty? %>
      <u><h3>Your Bookshelf</h3></u><br>

      <div class="custlist">
        <% current_user.collections.each do |collection| %>
          <li><%= link_to collection.name, user_collection_path(collection.user_id, collection.id) %></li>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <h1>Welcome to Monocle</h1>

    <h3>Ready to fill your own bookshelf?</h3>

    <h3><%= link_to 'Log in', new_user_session_path, class: "btn btn-lg btn-default" %> or <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-lg btn-default" %></h3>
  <% end %>
</div>
