<%= render "book_errors" %>

<div class="custform">
  <h1>Edit <%= @book.title %></h1>

  <div class="form-input">
    <%= form_for @book, :url => book_path(@book.id) do |f| %>

      <div class="field">
        <%= f.label "Title" %>
        <%= f.text_field :title, class: "form-control", placeholder: "required", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label "Author" %>
        <%= f.text_field :author, class: "form-control", placeholder: "required" %>
      </div>

      <div class="field">
        <%= f.label "Publisher" %>
        <%= f.text_field :publisher, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label "Published Date" %>
        <%= f.date_field :published_date, :order => [:month, :day, :year], class: "form-control" %>
      </div><br>

      <div class="field">
        <%= f.label "Select a Genre" %><br>
        <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |genre| %>
          <%= genre.label do %>
            <%= genre.check_box + " " + genre.text unless genre.text.blank? %>
          <% end %>
        <% end %>

        <h5>OR</h5>

        <%= f.fields_for :genres, @book.genres.build do |genre_field| %>
          <%= genre_field.label "Create a New Genre" %>
          <%= genre_field.text_field :name, name: "book[genres_attributes][][name]", class: "form-control" %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label "Description" %>
        <%= f.text_area :description, class: "form-control" %>
      </div><br>

      <div class="field">
        <%= f.label "Price" %>
        <%= f.text_field :price, class: "form-control", placeholder: "$" %>
      </div>

      <div class="field">
        <%= f.label "ISBN" %>
        <%= f.text_field :isbn, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label "Buy Link" %>
        <%= f.text_field :buy_link, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label "Image Link" %>
        <%= f.text_field :image_link, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update Book", class: "btn btn-default" %>
      </div>

    <% end %>
  </div>
</div>

<div class="custbtn-container">
  <%= button_to "Back", book_path(@book.id), method: 'get', class: "btn btn-block" %>
</div>
