<div class="custbook-container">
  <h1><%= @book.title %></h1>
  <h3>By <%= @book.authors %></h3><br>

  <div class="custbook-info">
    <img class="image-display" src= "<%= @book.image_link %>" target="_blank"><br>

    <p>Publisher: <%= @book.publisher.blank? ? "unavailable" : @book.publisher %></p>
    <p>Published Date: <%= @book.published_date.blank? ? "unavailable" : @book.published_date %></p><br>

    <p>Genre: <%= @book.categories.blank? ? "unavailable" : @book.categories %></p>
    <p>Description: <%= @book.description.blank? ? "unavailable" : @book.description %></p><br>

    <p>ISBN: <%= @book.isbn.blank? ? "unavailable" : @book.isbn %></p>
    <p>Current Price (retail): <%= @book.sale_info['retailPrice'].blank? ? "unavailable" : "$ #{@book.sale_info['retailPrice']['amount']}" %></p>
    <p>Purchase Now: <%= @book.sale_info['buyLink'].blank? ? "unavailable" : link_to(@book.sale_info['buyLink'], "http://#{@book.sale_info['buyLink']}", target: "_blank") %></p>
  </div>
  <button type="button" name="button">Add book to collection</button>
</div>

<div class="custbtn-container">
    <%= button_to "Back", collection_path(@collection), method: 'get', class: "btn btn-block" %>
</div>
