<div class="custbook-container">
  <h1><%= @book.title %></h1>
  <h3>By <%= @book.author %></h3><br>

  <div class="custbook-info">
    <img class="image-display" src= "<%= @book.image_link %>" target="_blank"><br>

    <p>Publisher: <%= @book.publisher.nil? ? "unavailable" : @book.publisher %></p>
    <p>Published Date: <%= @book.published_date.nil? ? "unavailable" : @book.published_date %></p><br>

    <p>Category: <%= @book.categories.nil? ? "unavailable" : @book.categories %></p>
    <p>Description: <%= @book.description.nil? ? "unavailable" : @book.description %></p><br>

    <p>ISBN: <%= @book.isbn.nil? ? "unavailable" : @book.isbn %></p>
    <p>Current Price (retail): <%= @book.price.nil? ? "unavailable" : "$ #{@book.price}" %></p>
    <p>Purchase Now: <%= @book.buy_link.nil? ? "unavailable" : @book.buy_link %></p>
  </div>
</div>

<div class="custbtn-container">
  <%= button_to "Edit Book", edit_book_path(@book.id), :method => :get, class: "btn btn-block" %>
  <%= button_to "Delete Book", {:controller => :books, :action => "destroy", :id => @book.id}, :method => :delete, class: "btn btn-block" %>
  <%= button_to "Back", user_collections_path(@user.id), method: 'get', class: "btn btn-block" %>
</div>
