<div class="custbook-container">
  <h1><%= @book.title %></h1>
  <h3>By <%= @book.author %></h3><br>

  <div class="custbook-info">
    <img class="image-display" src= "<%= @book.image_link %>" target="_blank"><br>

    <p>Publisher: <%= @book.publisher.blank? ? "unavailable" : @book.publisher %></p>
    <p>Published Date: <%= @book.published_date.blank? ? "unavailable" : @book.published_date.to_formatted_s(:long) %></p><br>
    
    <p>Genre: <%= @book.genres.blank? ? "unavailable" : @book.display_genre %></p>
    <p>Description: <%= @book.description.blank? ? "unavailable" : @book.description %></p><br>

    <p>ISBN: <%= @book.isbn.blank? ? "unavailable" : @book.isbn %></p>
    <p>Current Price (retail): <%= @book.price.blank? ? "unavailable" : "$ #{@book.price}" %></p>
    <p>Purchase Now: <%= @book.buy_link.blank? ? "unavailable" : link_to(@book.buy_link, "http://#{@book.buy_link}", target: "_blank") %></p>
  </div>
</div>

<div class="custbtn-container">
  <% if current_user.id == @collection.user_id %>
    <%= button_to "Edit Book", edit_book_path(@book.id), :method => :get, class: "btn btn-block" %>
    <%= button_to "Delete Book", {:controller => :books, :action => "destroy", :id => @book.id}, :method => :delete, class: "btn btn-block" %>
  <% end %>
    <%= button_to "Back", collection_path(@collection), method: 'get', class: "btn btn-block" %>
</div>
