<% content_for :head do %>
  <%= javascript_include_tag "books/book_model" %>
  <%= javascript_include_tag "books/book_show" %>
  <%= javascript_tag "var bookId = #{@book.id};" %>
<% end %>

<div class="custbook-container">
  <h1><%= @book.title %></h1>
  <h3>By <%= @book.author %></h3><br>

  <div class="custbook-info" id="book-show">
  </div>
</div>

<div class="custbtn-container">
  <% if current_user.id == @collection.user_id %>
    <%= button_to "Edit Book", edit_book_path(@book.id), :method => :get, class: "btn btn-block" %>
    <%= button_to "Delete Book", {:controller => :books, :action => "destroy", :id => @book.id}, :method => :delete, class: "btn btn-block" %>
  <% end %>
    <%= button_to "Back", collection_path(@collection), method: 'get', class: "btn btn-block" %>
</div>
